.btn {
  border: none;

  background: none;

  cursor: pointer;

  &--icon {
    width: clamp(3rem, 4vw, 4rem);
    height: clamp(3rem, 4vw, 4rem);

    transition: transform 150ms ease-in;

    &:hover {
      transform: scale(0.8);
    }
  }

  &--rounded {
    border: 0.1rem solid var(--accent);
    border-radius: 25rem;
    padding: 1rem 2rem;

    font-size: clamp(1.6rem, 2.5vw, 2.4rem);
    color: var(--light);

    transition: background-color 300ms ease-out, color 300ms ease-out;

    &:hover {
      background-color: var(--light);
      color: var(--dark);
    }
  }
}
