.carousel {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  &__btn--left {
    width: clamp(3rem, 4vw, 4rem);
    height: clamp(3rem, 4vw, 4rem);

    border: none;

    background: none;

    cursor: pointer;
  }

  &__btn--right {
    @extend .carousel__btn--left;

    right: 5rem;
  }
}

@media all and (max-width: 600px) {
  .carousel {
    justify-content: center;

    &__btn--left {
      display: none;
    }
  }
}
