.head {
  width: 100%;
  height: clamp(6rem, 8vh, 8rem);

  opacity: 0;

  &__nav {
    margin: 0 auto;
    width: clamp(32rem, 80vw, 100rem);
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &--close {
      width: clamp(2rem, 3vw, 2.5rem);
      height: clamp(2rem, 3vw, 2.5rem);

      fill: var(--accent);
    }

    &--link {
      font-family: $main-font;
      font-size: clamp(1.8rem, 3vw, 3.2rem);

      color: var(--light);

      letter-spacing: 0.05em;
      text-transform: lowercase;
      text-decoration: none;
    }
  }
}
